Makefile
Makefile.am.user
configure
autom4te.cache
config.h
config.log
config.status
src/.deps
src/Makefile
src/SOLARPROP
*.o
stamp-h1
*~
*.in
aclocal.m4
compile
depcomp
missing
install-sh
CMakeLists.txt.user
build
__pycache__
validation/*.green
validation/*.parquet
validation/*.h5
validation/*.npz
validation/test_*.pdf
.ipynb_checkpoints
sprop_test
callgrind.out.*
*.out
doc
data/*.bak
data/Tilts.html
data/Phi_mon.txt
data/SN_ms_tot_V2.0.txt
data/omniweb_download.txt
data/angle.dat
data/nm.dat
data/omniweb.dat
data/ssn.dat
